<!DOCTYPE html>
<html lang="en">
<head>
    <title>BenzoParser Main Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
    	$(document).ready(function() {
    		$("#submitButton").click(function(){
    			if (
    				$("#urlToParse").val() != '' 
    				&& 
    				$("#urlToParse").val() != undefined
				) {
				    $.ajax({
				    	url: $("#urlToParse").val(), 
				    	method: "GET",
				    	beforeSend: function() {
				    		$('#resultDiv').html('');
				    		$("#submitButton").prop('disabled', true);
				    	},
				    	success: function(result){
				    		var tempResult = result.substring(result.indexOf('<p class="item-desc">'));
				    		tempResult = tempResult.substring(0, tempResult.indexOf('</div>'));
				        	$('#resultDiv').append(tempResult);
				        	$("#submitButton").prop('disabled', false);

						    /*
						    $.ajax({
						    	url: "/parser", 
						    	method: "POST",
						    	data: {
						    		html: tempResult
						    	},
						    	success: function(result){
						    		console.log('result!');
						    		console.log(result);
						        	$("#submitButton").prop('disabled', false);
						        	$('#resultDiv').append(result);
						    	}
							});
							*/
				    	}
					});
				} else {
					alert('URL should not be empty.');
				}
			});
    	});
    </script>
</head>
<body>
	<input type="text" id="urlToParse" style="width:700px;" required value="http://ecommerce.grundfos.ru/shop/otoplenie/cirkuljacionnye-nasosy-alpha2/alpha2-25-40-180-1.html"/>
	<input type="button" id="submitButton" value="Parse!" />
	<br/>
	<div id="resultDiv"></div>
</body>